/* setup grid, then subgrid applies structure from parent. */
.nav-logo {
  grid-area: logo;
}
.nav-pic {
  grid-area: pic;
}
.nav-page1 {
  grid-area: home;
}
.nav-page2 {
  grid-area: two;
}
.nav-page3 {
  grid-area: three;
}

/* actual navbar */
.nav-links {
  display: grid;
  grid-template-rows: 9vh;
  grid-template-columns: 30% 40% 10% 10% 10%;
  grid-template-areas:
  "logo pic home two three";
  justify-content: center;
  overflow: hidden;
  background-color: black;
  padding-left: 60px;
  padding-right: 60px;
  font-size: 2.0vw;
}

  .nav-links a {
    text-align: center;
    text-decoration: none;
    align-self: center;
    color: snow;
    padding: 10px;
    font-family: TimesNewRoman;
  }

    .nav-links a:hover {
      background-color: #ddd;
      color: black;
      border: 4px solid black;
      overflow: hidden;
    }

  .nav-pic {
    border: 2px solid darkgrey;
    border-radius: 35%;
    max-height: 35px;
    align-self: center;
    margin-left: 10px;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  /* to remove the abrupt transition to fixed on navbar--not currently working */
  .sticky + .page-content {
    padding-top: 60px;
  }